<div class="overflow-hidden">
  <!-- Контейнер для изображения -->
  <div class="w-full rounded-3xl shadow-2xs aspect-square overflow-hidden">
    <% if @product.images.attached? %>
      <%= image_tag @product.images.first, class: "w-full h-full object-cover" %>
    <% else %>
      <div class="flex items-center justify-center w-full h-full bg-rock-100">
        <p class="select-none">No image</p>
      </div>
    <% end %>
  </div>

  <!-- Информация о товаре -->
  <div class="flex flex-col gap-2 pt-3">
    <p class="text-lg text-rock-600 font-semibold"><%= @product.name %></p>
    
    <!-- Оценка товара -->
    <div class="ml-[-3px]">
      <%= render RatingStarsComponent.new(average_rating: @product.average_rating) %>
    </div>
    
    <!-- Цена -->
    <div class="flex items-center justify-between">
      <h4 class="font-secondary font-bold"><%= number_to_currency(@product.base_price) %></h4>
    </div>
  </div>
</div>
